* {
	margin: 0;
	padding: 0;
	}
body{
    position: relative;
    display: flex;
    height: 937px;
    width: 1440px;
    background: #FAFAFB;
}  


  
.wrapper{
    display: flex;
    text-align: center;
    height: 80px;
    width: 1440px;
    top:0px;
    left: 0px;
    position:absolute;
    background:#FFFFFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.03);
    
}

.text{
   width: 204px;
   height:45px;
   padding-left: 123px;
   left: 618px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 149.8%;
   text-align: center;
   color: #4F516B; 
}

.main{
    position: absolute;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(68, 75, 171, 0.1);
    height:714px;
    width: 500px;
    left: 470px;
    top: 119px;
    padding-left:25px;
    padding-right: 45px;
    padding-top: 49px;
    
    
}

.main p{
    font-size: 20px;
    margin: 18px;
    color: #737171; 
    font-style: normal;
    font-weight:400;
    height: 30px;
    width: 133px;
    left: 495px;
    top: 259px; 
    font-family:'Poppins'; 
    color:#737171;
    line-height: 30px;

   
}

.main input {
    box-sizing: border-box;
    font-size: 16px;
    height: 52px;
    width: 450px;
    left: 495px;
    top: 292px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    margin-top:3px;
    
}

.input-field p{
    padding-left: 2px;
    margin: 0px;
    margin-top:46px;
    font-size: 20px;
    font-style: normal;
    font-weight:400;
    height: 30px;
    width: 133px;
    left: 495px;
    top: 259px; 
    font-family:'Poppins'; 
    color:#737171;
    line-height: 30px;
   
}
.input p{
    padding-top:18px;
    padding-left: 2px;
    font-size: 20px;
    margin:0px;
    font-style: normal;
    font-weight:400;
    height: 30px;
    width: 183px;
    left: 495px;
    top: 362px; 
    font-family:'Poppins'; 
    color:#737171;
    line-height: 30px;
}

.action button {
     height: 49px;
     width: 450px;
     margin-top:209px;
     background: linear-gradient(93.44deg, #444BAB -6.8%, #3CA5C2 186.94%);
     border-radius: 6px;
     font-family:'Poppins';
     font-style: normal;
     font-size: 20px;
     color: #FFFFFF;
     font-weight: 600;
     line-height: 30px;
     letter-spacing: 0em;
     margin-top: 128px;
     cursor: pointer;
}
input {
    font-family:'poppins';
    font-size: 20px;
    padding-top:1px;
    padding-left: 10px;
    margin:0px;
    font-style: normal;
    font-weight:400;
    height:30px;
    width: 183px;
    left: 495px;
    top: 362px; 
    font-family:'Poppins'; 
    color:#737171;
    line-height: 30px;
    
  }
.logo{
   padding-left: 589px;
   padding-top: 19px;
}
 span{
   text-align:left;
   font-size:20px;
   display: inline-block;
   color: #ffffff;
   margin: 15px;
   margin-right:179px;
   margin-left:0px;
}
